/* Font */
@font-face {
  font-family: 'jaapokkisubtract-regular';
  src: url('../font/jaapokkisubtract-regular.eot');
  src: url('../font/jaapokkisubtract-regular.eot?#iefix') format('embedded-opentype'),
       url('../font/jaapokkisubtract-regular.woff') format('woff'),
       url('../font/jaapokkisubtract-regular.ttf') format('truetype'),
       url('../font/jaapokkisubtract-regular.svg#jaapokkisubtract-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'jaapokkisubtract-regular';
}

/* Layout */

.container {
  text-align: center;
}

#logo {
  margin: 0;
}

#navBar {
  list-style: none;
  text-align: center;
  padding: 0;
}

#navBar a {
  color: black;
  font-size: 1.5em;
  padding: 10px 25px;
}

#navBar li a:visted {
  color: black;
}

#navBar li a:hover {
  color: white;
  background-color: black;
}

#navBar li{
  margin: 0 1em;
  display: inline-block;
}

#navBar li a{
  text-decoration: none;
}

header {
  text-align: center;
}

/* Homepage */

.homepage {
  list-style: none;
  padding: 0;
}

.homepageImgs {
  height: 100px;
  width: 100px;
}

.homepage li {
  max-height: 100px;
  max-width: 100px;
  font-size: 2em;
  display: inline-block;
}


/* Search Bar */

#searchWrapper {
  text-align: center;
  margin-bottom: 15px;
}

#searchWrapper img {
  display: none;
}

#searchWrapper input {
  font-size: 2em;
  font-family: 'jaapokkisubtract-regular';
}

#searchWrapper input[type=submit] {
  border: none;
  background-color: white;
}

#searchWrapper input[type=submit]:hover {
  color: white;
  background-color: black;
}

#searching {
  font-size: 7em;
}

#initial {
  display: none;
  font-size: 8em;
}

/* Content */

#content {
  display: none;
  text-align: center;
}

#likeButtons {
  text-align: center;
  display: none;
}

#likeButtons a{
  display: inline-block;
}
#likeButtons a img{
  margin: 0 40px;
  height: 80px;
  width: 80px;
  display: inline-block;
}

/* Content */

#content {
  display: none;
  text-align: center;
}

#likeButtons {
  text-align: center;
  display: none;
}

#likeButtons a{
  display: inline-block;
}
#likeButtons a img{
  margin: 0 40px;
  height: 80px;
  width: 80px;
  display: inline-block;
}

.twitter-share-button-template {
  display: none;
}

#twitterDiv{

  margin:5px 0 0 32px;
}

/* Profile */

#editList a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

#editListDiv {
  display: none;
}

#showList {
  list-style: none;
}

#showList li {
  font-size: 1.2em;
}

#showList li a:hover {
  color: white;
  background-color: black;
}

#showList a {
  color: black;
  text-decoration: none;
}

#welcomeProfile {
  font-size: 3em;
}

/* Top */

.topList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.topList h3, .topList h5 {
  margin: 0;
}

.topList li {
  margin: 0;
  padding: 0;
}

