/* Font */
@font-face {
  font-family: 'jaapokkisubtract-regular';
  src: url('../font/jaapokkisubtract-regular.eot');
  src: url('../font/jaapokkisubtract-regular.eot?#iefix') format('embedded-opentype'),
       url('../font/jaapokkisubtract-regular.woff') format('woff'),
       url('../font/jaapokkisubtract-regular.ttf') format('truetype'),
       url('../font/jaapokkisubtract-regular.svg#jaapokkisubtract-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'jaapokkisubtract-regular';
}

/* Layout */

.container {
  text-align: center;
}

#logo {
  margin: 0;
}

#navBar {
  list-style: none;
  text-align: center;
  padding: 0;
}

#navBar a {
  color: black;
  font-size: 1.5em;
  padding: 10px 25px;
}

#navBar li a:visted {
  color: black;
}

#navBar li a:hover {
  color: white;
  background-color: black;
}

#navBar li{
  margin: 0 1em;
  display: inline-block;
}

#navBar li a{
  text-decoration: none;
}

header {
  text-align: center;
}

/* Homepage */

.homepage {
  list-style: none;
  padding: 0;
}

.homepageImgs {
  height: 100px;
  width: 100px;
}

.homepage li {
  max-height: 100px;
  max-width: 100px;
  font-size: 2em;
  display: inline-block;
}
