<div class="container">
    <%= display_error %>
  <section>
    <% if !session[:user_id] %>
    <h3>SIGNUP or LOGIN to get started.</h3>
    <h1>THE POSSIBILITIES ARE ENDLESS...</h1>
    <ul class="homepage">
      <% @categories.shuffle.each do |category| %>
        <li><img class="homepageImgs" src="<%= category.thumbnail%>"/></li>
      <% end %>
    </ul>
      <% else %>
      <div id="searchWrapper">
        <form action='/search' method='POST' id="search">
          <input type="text" name='search' placeholder='Search by category...'>
          <input type="submit" value='SEARCH'>
        </form>
          <div id="loaderImage"></div>
      </div>

      <h1 id="initial">LOADING CONTENT</h1>

      <ul class="homepage">
        <% @categories.shuffle.each do |category| %>
          <li><img categoryId="<%=category.id%>" class="homepageImgs thumbnailSearch" src="<%= category.thumbnail%>"/></li>
        <% end %>
      </ul>


      <div id="content">
        <iframe sandbox='allow-forms allow-scripts' contentId="" width="1008" height="567" src="" frameborder="0"></iframe>
      </div>
      
    <div id="likeButtons">
      <a id="back"><img src="../../img/back.png" /></a>
      <a id="like"><img src="../../img/like.png" /></a>
      <a id="next"><img src="../../img/next.png" /></a>
    </div>

    <% end %>
  </section>
</div>

