<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/noty/packaged/jquery.noty.packaged.min.js"></script>
  <script src="http://listjs.com/no-cdn/list.js"></script>
  <script src="http://listjs.com/no-cdn/list.fuzzysearch.js"></script>
  <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
  <!-- Comment line above and uncomment line below if working offline -->
  <!-- <script type="js/jquery-1.11.1.min.js"></script> -->
  <script src="/js/application.js"></script>
  <title>STUMBLR</title>
</head>
<body>
 <header>
   <h1 id="logo">STUMBLR</h1>
  <nav>
    <ul id="navBar">
      <% if !session[:user_id] %>
        <li><a href="/">STUMBLE</a></li>
        <li> <a href="/top">TOP</a></li>
        <li><a href="/signup">SIGNUP</a></li>
        <li><a href="/login">LOGIN</a></li>
      <% else %>
        <li> <a href="/">STUMBLE</a></li>
        <li> <a href="/top">TOP</a></li>
        <li><a href="/profile/<%= session[:user_id] %>"><%= User.find(session[:user_id]).username %></a></li>
        <li><a href="/logout">LOGOUT</a></li>
      <% end %>
    </ul>
  </nav>
  </header>
    <%=yield%>

  </body>
</html>

