<h2>Edit List</h2>
<form action="/list/update" id="editList">
  <div id="edit-list">
    <input class="fuzzy-search" placeholder='Search'/>
      <ul class="list" id="editListUl">
        <% @user.likes.order(created_at: :desc).each do |like| %>
        <li><a href="<%= like.uri %>" target="_blank" class="title"><%= like.title %></a><input type="checkbox" name="<%= like.id %>"></li>
        <% end %>
      </ul>
  </div>
  <br>
  <input type="submit" value="Delete Selected Content">
</form>
 
